<div class="header">
  <div class="container">
    <div class="header__content"></div>
    <%= link_to "Главная", root_path %>
    <%= link_to "Поиск", tickets_filter_path %>
    <%= link_to "Профиль", :profile %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Админ панель", admin_panel_path %>
    <% end %>
  </div>
</div>


<div class="body">
  <div class="container">
    <h1>Tickets</h1>
    <div class="body__content"></div>
    <div id="tickets">
      <% @tickets.each do |ticket| %>
        <%= render ticket %>
        <p>
          <%= link_to "Show this ticket", ticket %>
        </p>
      <% end %>
    </div>


  </div>
</div>


