<div class="header">
  <div class="container">
    <div class="header__content"></div>
    <%= link_to "Главная", root_path %>
    <%= link_to "Поиск", tickets_filter_path %>
    <%= link_to "Профиль", :profile %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Админ панель", admin_panel_path %>
    <% end %>
  </div>
</div>

<div class="body">
  <div class="container">
    <div class="body__content">
      <div class="form__ticket">
        <h1>Профиль</h1>

        <%= button_to "Выйти", destroy_user_session_path, id: current_user.id, method: :delete, class:"delete" %>
        <%= link_to "Редактировать профиль", edit_user_registration_path %>

        <div id="tickets">
          <% @tickets.each do |ticket| %>
            <%= render ticket %>
            <p>
              <%= link_to "Show this ticket", ticket %>
              <%= link_to "Remove this ticket", controller: "tickets", action: "remove_ticket", id: ticket.id %>
            </p>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
