<div id="<%= dom_id ticket %>">
  <p>
    <strong>Из:</strong>
    <%= ticket.from %>
  </p>

  <p>
    <strong>В:</strong>
    <%= ticket.to %>
  </p>

  <p>
    <strong>Цена:</strong>
    <%= ticket.price %>
  </p>

  <p>
    <strong>Отправление в</strong>
    <%= ticket.start_date %>
  </p>

  <p>
    <strong>Прибытиe в</strong>
    <%= ticket.finish_date %>
  </p>

  <p>
    <strong>Транспорт:</strong>
    <%= ticket.transport %>
  </p>

</div>
