<%= link_to "Главная", root_path %>
<%= link_to "Поиск", tickets_filter_path %>
<%= link_to "Профиль", :profile %>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Админ панель", admin_panel_path %>
<% end %>


<h1>Editing ticket</h1>

<%= render "form", ticket: @ticket %>

<br>

<div>
  <%= link_to "Показать этот билет", @ticket %> |
  <%= link_to "На главную", root_path %>
</div>
