<div class="header">
  <div class="container">
    <div class="header__content"></div>
    <%= link_to "Главная", root_path %>
    <%= link_to "Поиск", tickets_filter_path %>
    <%= link_to "Профиль", :profile %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Админ панель", admin_panel_path %>
    <% end %>
  </div>
</div>
<div class="body">
  <div class="flex-container">
    <div class="body__content">
      <%= form_tag(root_path, method: :get) do %>
        <div>
          <%= label_tag :from, 'Из' %>
          <%= text_field_tag :from %>
        </div>

        <div>
          <%= label_tag :to, 'В' %>
          <%= text_field_tag :to %>
        </div>

        <div>
          <%= label_tag :price, 'Цена' %>
          <%= text_field_tag :price %>
        </div>

        <div>
          <%= label_tag :start_date, 'Отправление в' %>
          <%= text_field_tag :start_date, nil, type: :date %>
        </div>

        <div>
          <%= label_tag :finish_date, 'Прибытие в' %>
          <%= text_field_tag :finish_date, nil, type: :date %>
        </div>

        <div>
          <%= label_tag :transport, 'Транспорт' %>
          <%= text_field_tag :transport %>
        </div>

        <%= submit_tag 'Поиск' %>
      <% end %>
    </div>
  </div>
</div>