<div class="header">
  <div class="container">
    <div class="header__content"></div>
    <%= link_to "Главная", root_path %>
    <%= link_to "Поиск", tickets_filter_path %>
    <%= link_to "Профиль", :profile %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Админ панель", admin_panel_path %>
    <% end %>
  </div>
</div>
<div class="body">
  <div class="container">
    <div class="body__content">
      <div class="form__ticket">

        <h1>Новый маршрут</h1>

        <%= render "form", ticket: @ticket %>

        <br>

        <div>
          <%= link_to "На главную", root_path %>
        </div>
      </div>
      </div>


  </div>
</div>
