<%= link_to "Главная", root_path %>
<%= link_to "Поиск", tickets_filter_path %>
<%= link_to "Профиль", :profile %>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Админ панель", admin_panel_path %>
<% end %>


<%= render @ticket %>

<div>
  <% if current_user.tickets.where(id: @ticket.id).blank? %>
    <%= link_to "Добавить маршрут", :ticket_add, id: @ticket.id %> |
    <% else %>
  <%= link_to "Удалить маршрут", controller: "tickets", action: "remove_ticket", id: @ticket.id %> |
    <% end %>
  <%= link_to "На главную", root_path %>
</div>
