/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    font-family: 'Inter', sans-serif;

}
.modal__body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
}
.window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 350px;
    width: 270px;
    border-radius: 10px;
}
.actions{
    display: flex;
    justify-content: center;
    margin-top:10px;
}
.new_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}
a:hover{
    color: red;
}
.sign_in-route{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 52px;
}
.container{
    max-width: 1200px;
    width: 100%;
}
a{
    color: darkblue;
}
.body{
    display: flex;
    justify-content: center;
}
.body__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.form__ticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.delete{
    width: 80px;

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}